<app-carousel>
    <carousel>
        <slide>
            <img class="first-slide carousel_img" src="assets/bg1.jpg" alt="First slide">
           
              <div class="carousel-caption text-left">
                <h1>Saját kategóriákba mentheted receptjeinket</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary btn-color" href="#" role="button">Sign up today</a></p>
              </div>
          
          </slide>
          <slide>
            <img class="second-slide carousel_img" src="assets/bg2.jpg" alt="Second slide">
         
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary btn-color" href="#" role="button">Learn more</a></p>
              </div>
          
          </slide>
          <slide>
            <img class="third-slide carousel_img" src="assets/bg3.jpg" alt="Third slide">
          
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary btn-color" href="#" role="button">Browse gallery</a></p>
              </div>
          
         </slide>
        </carousel>
</app-carousel>

<!-- async maradok, de van különbség aközött, hogy a streamben utazó adaton dolgozok és streamben vagyok, vagy pedig a már megérkezett adattal dolgozok, 
      és úgy tudok streamben maradni, hogy létrehozom a categmodeleket tartalmazó tömböknek a tömbjeit tartalmazó változót ...$: Observable<CategModel[][]>
        
    a subscribeokat el kell pusztítani amikor a komponensünk elpusztul, viszont ezt nehéz lifecycle hookok részletes alkalmazása nélkül megtenni-->

<div class="container"> <!-- SUBSCRIBE nélkül -->
  <button type="submit" class="btn kuld-gomb" [routerLink]="['../','recipe' ,'new']" *ngIf="userService.isLoggedIn">Új recept</button>
  <div class="card-deck category-card-deck">
    <app-categcard class="col-md-6 col-lg-4" 
      *ngFor="let c of categs$ | async" 
      [onecateg]="c">
    </app-categcard>
  </div> 
</div>

 <!-- <div class="container">     SUBSCRIBE-val
  <button type="submit" class="btn kuld-gomb" [routerLink]="['../','recipe' ,'new']" *ngIf="userService.isLoggedIn">Új recept</button>
  <div class="card-deck category-card-deck">
    <app-categcard class="col-md-6 col-lg-4" 
      *ngFor="let c of categs" 
      [onecateg]="c">
    </app-categcard>
  </div> 
</div> -->

<!-- <pre>
  {{ categs$ | async | json }}
</pre> -->