<app-navbar> <carousel>
        <slide>
            <img class="first-slide carousel_img" src="assets/bg1.jpg" alt="First slide">
           
              <div class="carousel-caption text-left">
                <h1>Example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary btn-color" href="#" role="button">Sign up today</a></p>
              </div>
          
          </slide>
          <slide>
            <img class="second-slide carousel_img" src="assets/bg2.jpg" alt="Second slide">
         
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary btn-color" href="#" role="button">Learn more</a></p>
              </div>
          
          </slide>
          <slide>
            <img class="third-slide carousel_img" src="assets/bg3.jpg" alt="Third slide">
          
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary btn-color" href="#" role="button">Browse gallery</a></p>
              </div>
          
         </slide>
        </carousel></app-navbar>

<router-outlet></router-outlet>
<app-footer></app-footer>

